@charset "utf-8";

blockquote,body,button,dd,dl,dt,fieldset,form,h1,h2,h3,h4,h5,h6,hr,input,legend,li,ol,p,pre,td,textarea,th,ul {
	margin: 0;
	padding: 0;
}

body,button,input,select,textarea {
	font: 12px/1.5 tahoma,arial,\5b8b\4f53,sans-serif;
}

h1,h2,h3,h4,h5,h6 {
	font-size: 100%;
}

address,cite,dfn,em,var {
	font-style: normal;
}

code,kbd,pre,samp {
	font-family: courier new,courier,monospace;
}

small {
	font-size: 12px;
}

ol,ul {
	list-style: none;
}

a {
	color: #3e3e3e;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

sup {
	vertical-align: text-top;
}

sub {
	vertical-align: text-bottom;
}

legend {
	color: #000;
}

fieldset,img {
	border: 0;
}

button,input,select,textarea {
	font-size: 100%;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
	background: #fff;
}

.l {
	float: left;
}

.r {
	float: right;
}

.dn {
	display: none;
}

.g1 {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	border-top: 1px solid #f9f9f9;
	border-bottom: 1px solid #d2d2d2;
	background: #fbfbfb;
}

.g2 {
	margin-top: 2px;
	border-top: 2px solid #f9f9f9;
	border-bottom: 4px solid #f2f2f2;
	background: #f5f5f5;
	line-height: 4px;
}

.g3 {
	border-top: 3px solid #efefef;
	border-bottom: 4px solid #e8e8e8;
	background: #ebebeb;
	line-height: 4px;
}

#page {
	margin-right: auto;
	margin-left: auto;
}

.p_w {
	width: 950px;
}

#category .hd,#category .hd h3 a,#mall .bt_bg,#mall .hd h3 s,#p4p .bd .price strong,#product .rc_bt,.box .rc_bt,.box .rc_bt b,.box .rc_tp,.box .rc_tp b,.box_skin_blue .hd h3,.category_chn li,.category_links li,.help_guest a,.info_list li,.ks_switchable_content i,.links_panel li a,.mall_brands_bd,.mall_brands_bd s,.mall_brands_content a,.mall_next,.mall_prev,.product_list .t_mall span,.product_list li,.product_list li a:hover,.product_list li s,.quick_link li,.quick_link li s,.search_btn,.search_panel .rc_tp,.search_tablist .selected a,.search_tablist li,.tab_holder,.tab_holder li,.tb_slide_triggers li {
	background-image: url(../image/taobao.png);
	background-repeat: no-repeat;
}

#header {
	background: url(../image/taobao/top.jpg) no-repeat 0 65px;
}

#nav {
	position: relative;
	height: 25px;
	line-height: 25px;
}

#nav a {
	color: #404040;
}

#nav a:hover {
	color: #f60;
}

.quick_link li {
	float: left;
	padding-right: 8px;
	padding-left: 24px;
	background-position: -166px -320px;
}

.quick_link .mytaobao {
	background-position: -999em 0;
}

.quick_link li s {
	position: absolute;
	top: 6px;
	margin-left: -15px;
	width: 15px;
	height: 12px;
	font-size: 0;
	cursor: pointer;
}

.quick_link .mytaobao s {
	background-position: -149px -352px;
}

.quick_link .cart s {
	background-position: -149px -326px;
}

.quick_link .favorite s {
	background-position: -149px -364px;
}

.quick_link .forum {
	padding-left: 8px;
}

.quick_link .help s {
	background-position: -149px -339px;
}

#logo {
	padding-top: 18px;
	height: 68px;
	font-size: 0;
}

#search {
	margin-top: -55px;
	padding-bottom: 25px;
	width: 650px;
}

.search_tablist {
	position: relative;
	height: 27px;
}

.search_tablist li {
	float: left;
	background-position: 0 -999em;
	line-height: 26px;
}

.search_tablist li a {
	display: block;
	padding: 1px 17px 0 18px;
	color: #153679;
}

.search_tablist .selected {
	padding-right: 5px;
	background-position: right -590px;
}

.search_tablist .selected a {
	background-position: 0 -590px;
	font-weight: 700;
	font-size: 14px;
}

.search_options {
	float: right;
	padding-top: 7px;
	line-height: 1.3;
}

.search_options a {
	color: #153679;
}

.search_panel {
	margin-top: -2px;
	margin-right: 56px;
	padding: 7px 0 0 5px;
	height: 34px;
	border: 1px solid #9EAAB6;
	background: #fff url(../image/taobao.png) repeat-x 0 -549px;
}

.search_panel .rc_tp {
	position: relative;
	float: right;
	margin-top: -8px;
	margin-right: -1px;
	width: 5px;
	height: 4px;
	background-position: -158px -190px;
	font-size: 0;
}

.search_box {
	position: relative;
	display: block;
	margin-right: 7px;
	height: 27px;
	border-color: #585856 #585856 #B6B7B9;
	border-style: solid;
	border-width: 1px 0 1px 1px;
	background: #fff;
}

.search_box label {
	position: absolute;
	top: 3px;
	left: 3px;
	color: #999;
	line-height: 21px;
	cursor: text;
}

.search_box input {
	padding: 6px 3px 4px;
	width: 440px;
	height: 15px;
	border: 0;
	line-height: 15px;
}

.search_btn {
	position: absolute;
	top: -1px;
	right: 0;
	width: 135px;
	height: 29px;
	border: 0;
	background-color: #FB8502;
	background-position: 0 -296px;
	color: #fff;
	font-weight: 700;
	font-size: 16px;
	cursor: pointer;
}

.bt_shadow {
	clear: both;
	overflow: hidden;
	margin: 0 57px 0 1px;
	height: 1px;
	background: #e5e5e5;
}

#content {
	clear: both;
}

.grid_ms {
	border-top: 3px solid #E97507;
	zoom: 1;
}

.col_mail {
	float: left;
	width: 100%;
}

.main_wrap {
	margin-right: 320px;
}

#product {
	float: left;
	margin: -2px auto 0 -1px;
	width: 158px;
	height: 335px;
}

.mege_menu {
	position: relative;
	padding-top: 1px;
	width: 147px;
	height: 330px;
	border: 1px solid #E56A02;
}

.product_list {
	border-top: 1px solid #FCD687;
}

.product_list li {
	height: 28px;
	background-color: #FBFCFC;
	background-position: 0 -354px;
}

.product_list li a {
	position: relative;
	display: block;
	padding-left: 37px;
	line-height: 27px;
	zoom: 1;
}

.product_list li a:hover {
	background-position: 0 -410px;
	color: #f60;
	text-decoration: none;
}

.product_list li.s {
	height: 29px;
	background-color: #FEF2D8;
	background-position: 0 -325px;
}

.product_list li.s a {
	color: #DA4901;
	font-size: 14px;
	line-height: 28px;
}

.product_list li.s a:hover {
	background: 0 0;
	color: #f60;
	text-decoration: underline;
}

.product_list li strong {
	font-weight: 400;
}

.product_list li.s strong {
	font-weight: 700;
}

.product_list li s {
	position: absolute;
	top: 5px;
	margin-left: -27px;
	width: 16px;
	height: 16px;
}

.product_list li.s s {
	top: 4px;
	margin-left: -29px;
	width: 20px;
	height: 20px;
}

.product_list .t_mall span,.product_list .t_mall strong {
	position: absolute;
	width: 78px;
	height: 18px;
}

.product_list .t_mall strong {
	top: 5px;
	line-height: 16px;
	cursor: pointer;
}

.product_list .t_mall span {
	top: 0;
	left: 0;
	background-position: 0 -109px;
}

.product_list .t_mall s {
	background-position: -147px -113px;
}

.product_list .t_3c s {
	background-position: -127px -133px;
}

.product_list .t_news s {
	background-position: -147px -133px;
}

.product_list .t_digi s {
	background-position: -119px -185px;
}

.product_list .t_jipiao s {
	background-position: -118px -153px;
}

.product_list .t_caipiao s {
	background-position: -135px -185px;
}

.product_list .t_jianghu s {
	background-position: -151px -169px;
}

.product_list .t_shiyi s {
	background-position: -151px -153px;
}

.product_list .t_garden s {
	background-position: -119px -168px;
}

.product_list .t_wangwang s {
	background-position: -139px -203px;
}

.product_list .t_wap s {
	background-position: -135px -153px;
}

#product .more {
	padding: 0 10px;
	background-color: #F4F9FD;
	text-align: right;
	line-height: 17px;
}

#product .more a {
	color: #7E93A5;
}

#product .more a:hover {
	color: #f60;
}

#product .rc_bt {
	position: relative;
	display: block;
	margin-top: -4px;
	height: 4px;
	background-position: -163px -209px;
	font-size: 0;
}

#product .r_shadow {
	display: block;
	margin-top: -331px;
	margin-left: 149px;
	width: 1px;
	height: 331px;
	border-right: 1px solid #fcf6f0;
	border-left: 1px solid #f5ddc3;
	background: #f7e5d2;
}

.box_animate {
	margin-left: 158px;
	padding-top: 6px;
}

.box_skin_naked {
	border: 1px solid #B6D1E6;
	zoom: 1;
}

.box_skin_naked .loading {
	background: #EBF5FA url(../image/taobao/loading.gif) no-repeat 50% 50%;
}

.tb_slide {
	position: relative;
	overflow: hidden;
	height: 150px;
}

.tb_slide_list {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
}

.tb_slide_list li {
	overflow: hidden;
	height: 150px;
}

.tb_slide_list li img {
	width: 100%;
}

.tb_slide_triggers {
	position: absolute;
	right: 5px;
	bottom: 5px;
	padding-top: 2px;
	height: 18px;
}

.tb_slide_triggers li {
	float: left;
	margin-left: 3px;
	width: 16px;
	height: 16px;
	border: 1px solid #f47500;
	background-color: #fcf2cf;
	background-position: -131px -114px;
	color: #d94b01;
	text-align: center;
	font-size: 11px;
	line-height: 16px;
	cursor: pointer;
}

.tb_slide_triggers li.current {
	margin-top: -2px;
	width: 18px;
	height: 18px;
	background-color: #ff9415;
	background-position: -113px -114px;
	color: #fff;
	font-weight: 700;
	line-height: 18px;
}

#mall .hd {
	padding: 14px 10px 4px 8px;
	height: 20px;
	border-right: 1px solid #ccc;
	border-left: 1px solid #ccc;
}

#mall .hd h3 {
	position: relative;
	float: left;
	color: #B60F23;
	line-height: 17px;
}

#mall .hd h3 s {
	position: absolute;
	top: 0;
	left: 0;
	width: 131px;
	height: 17px;
	background-position: 0 -92px;
	cursor: pointer;
}

.info_list li {
	padding-left: 8px;
	background-position: -164px -408px;
	line-height: 21px;
}

#mall .info_list li {
	float: left;
	margin-left: 10px;
}

#mall .info_list li a {
	color: #9a0002;
}

#mall .bd {
	position: relative;
	padding: 5px 10px 8px;
	height: 121px;
	border: 1px solid #ccc;
	border-top: 0;
}

#mall .bt_bg {
	display: block;
	margin-top: -70px;
	height: 70px;
	background-position: 0 -438px;
	background-repeat: repeat-x;
}

.mall_next,.mall_prev {
	position: absolute;
	bottom: 31px;
	width: 22px;
	height: 34px;
	outline: 0;
}

.mall_prev {
	left: 3px;
	background-position: -68px -185px;
}

.mall_next {
	right: 3px;
	background-position: -90px -185px;
}

.box .rc_bt,.box .rc_tp {
	position: relative;
	display: block;
	height: 4px;
	font-size: 0;
}

.box .rc_tp {
	margin-bottom: -4px;
	background-position: -162px -264px;
}

.box .rc_bt {
	margin-top: -4px;
	background-position: -162px -267px;
}

.box .rc_bt b,.box .rc_tp b {
	float: right;
	width: 4px;
	height: 4px;
}

.box .rc_tp b {
	background-position: -159px -264px;
}

.box .rc_bt b {
	background-position: -159px -267px;
}

.mall_brands {
	position: relative;
	zoom: 1;
}

.mall_brands_bd {
	padding: 1px 0;
	height: 30px;
	border: 1px solid #DBDBDB;
	background-repeat: repeat-x;
}

.mall_brands_bd s {
	position: absolute;
	top: 14px;
	width: 4px;
	height: 4px;
	background-position: -112px -215px;
	font-size: 0;
}

.mall_brands_prev {
	left: 9px;
}

.mall_brands_next {
	right: 9px;
}

.mall_brands_content {
	position: relative;
	overflow: hidden;
	margin: 0 auto;
	width: 408px;
	height: 30px;
}

.mall_brands_content ol {
	position: absolute;
	width: 1242px;
}

.mall_brands_content li {
	float: left;
	overflow: hidden;
	margin-left: -2px;
	width: 414px;
}

.mall_brands_content a {
	float: left;
	padding-left: 2px;
	background-position: -165px -371px;
}

.mall_brands_content a img {
	width: 80px;
	height: 30px;
}

.mall_content {
	position: relative;
	overflow: hidden;
	margin: 0 auto;
	padding-top: 14px;
	width: 414px;
	height: 72px;
}

.mall_content ol {
	position: absolute;
	width: 1248px;
}

.mall_content li {
	float: left;
	overflow: hidden;
	width: 416px;
	text-align: center;
	font-size: 0;
}

.ks_switchable_content i {
	display: inline-block;
	width: 11px;
	height: 21px;
	background-position: -113px -132px;
}

.ks_switchable_content i.m {
	margin-right: 4px;
}

#category {
	clear: left;
	padding-top: 10px;
	zoom: 1;
}

#category .hd {
	position: relative;
	height: 28px;
	border: 1px solid #CFDAE4;
	background-color: #F5F9FB;
	background-position: 0 -31px;
	background-repeat: repeat-x;
	line-height: 28px;
}

#category .hd h3 a {
	display: block;
	margin: 1px;
	width: 89px;
	background-color: #E6EFF6;
	background-position: 0 -145px;
	color: #F60;
	text-align: center;
	font-size: 14px;
	line-height: 26px;
}

.category_links {
	position: absolute;
	top: 0;
	left: 98px;
	overflow: hidden;
}

.category_chn li,.category_links li {
	float: left;
	margin-left: -1px;
	padding: 0 8px;
	background-position: -166px -340px;
}

.category_chn li a,.category_links li a {
	color: #17387D;
}

.category_chn {
	position: absolute;
	top: 0;
	right: 2px;
	overflow: hidden;
	font-weight: 700;
}

#category .bd {
	margin-top: -1px;
	border: 1px solid #CFDAE4;
}

.category_item_fashion,.category_item_life,.category_item_other,.category_item_sport {
	height: 87px;
}

.category_item_decoration,.category_item_virtual {
	height: 60px;
}

.category_item_single {
	height: 40px;
}

.category_item_digital {
	height: 115px;
}

.category_item {
	overflow: hidden;
	border-bottom: 1px dashed #ccc;
}

.category_item h4 {
	float: left;
	padding: 0 4px;
	width: 20px;
	height: 100%;
	border-right: 1px solid #F4F8FB;
	background: #F4F8FB;
	text-align: center;
	font-size: 14px;
	line-height: 20px;
}

.category_item_single h4 {
	line-height: 16px;
}

.category_item h4 a,.category_item h4 i {
	display: inline-block;
	color: #1A397C;
	vertical-align: middle;
}

.category_item h4 i {
	width: 0;
	height: 100%;
}

.category_item ul {
	margin-left: 38px;
	padding-top: 4px;
	height: 100%;
}

.category_item ul li {
	float: left;
	overflow: hidden;
	margin: 2px 0 1px;
	padding: 3px 0;
	width: 33.3%;
	height: 18px;
	line-height: 18px;
}

.category_item ul h5 {
	display: inline;
	padding-right: 7px;
	font-size: 14px;
}

.category_item ul span a {
	margin-left: -1px;
	padding: 0 3px;
	border-left: 1px solid #B7D0E4;
}

.category_item ul span a:first-child {
	border-left: 0;
}

.category_item ul a {
	color: #013DD9;
}

.category_item a:hover,.category_item ul a.h {
	color: #f60;
}

.category_ad {
	clear: left;
	padding-top: 12px;
	height: 84px;
	text-align: center;
	font-size: 0;
}

.category_ad a {
	display: inline-block;
	width: 33%;
	text-align: center;
}

.category_ad img {
	width: 190px;
	height: 70px;
	border: 1px solid #CBCCCE;
}

.grid_ms .col_sub {
	float: left;
	margin-left: -310px;
	padding-top: 6px;
	width: 310px;
}

#help .bd {
	padding: 5px 0;
	height: 48px;
	border: 1px solid #CFDAE4;
	background: #f4f8fb;
}

.help_guest a {
	float: left;
	margin: 0 2px 0 5px;
	padding-top: 6px;
	width: 145px;
	height: 42px;
	background-position: 0 -219px;
	color: #DA4901;
	text-align: center;
}

.help_guest a strong {
	font-size: 14px;
}

.help_guest a:hover {
	color: #f60;
	text-decoration: none;
}

.help_guest a s {
	display: block;
	color: #E4A522;
	text-decoration: none;
	line-height: 15px;
}

.box_skin_blue .rc_tp {
	z-index: 1;
	overflow: hidden;
	background-position: -162px -202px;
}

.box_skin_blue .rc_tp b {
	background-position: -159px -202px;
}

.box_skin_blue .rc_bt {
	background-position: -162px -205px;
}

.box_skin_blue .rc_bt b {
	background-position: -159px -205px;
}

#announce {
	margin-top: 10px;
	margin-bottom: 10px;
}

.box_skin_blue .hd {
	border-right: 1px solid #CFDAE4;
	border-left: 1px solid #CFDAE4;
}

.tab_holder {
	height: 28px;
	background-position: 0 -507px;
	background-repeat: repeat-x;
}

.tab_holder li {
	float: left;
	border-top: 1px solid #CFDAE4;
	background-position: 0 -31px;
	background-repeat: repeat-x;
	color: #17387D;
	text-align: center;
	font-weight: 700;
	font-size: 14px;
	line-height: 26px;
}

.tab_holder.forth li {
	width: 25%;
}

.tab_holder li span {
	display: block;
	height: 100%;
	border-right: 1px solid #B6D1E6;
	border-left: 1px solid #fff;
	cursor: pointer;
}

.tab_holder li s {
	display: none;
}

.tab_holder .tab_holder_cw span {
	border-right: 0;
}

.tab_holder li a {
	color: #17387D;
}

.tab_holder li.selected {
	position: relative;
	border-top: 1px solid #EEA63A;
	border-bottom: 1px solid #fff;
	background-position: 0 999em;
}

.tab_holder li.selected span {
	padding-left: 1px;
	border-left: none;
}

.tab_holder li.selected s {
	float: right;
	display: block;
	margin-top: -24px;
	width: 1px;
	height: 24px;
	border-right: 1px solid #B6D1E6;
	border-left: 1px solid #F5F9FB;
	background-color: #E2E9EF;
}

.tab_holder li.selected.tab_holder_cw s {
	float: left;
	width: 0;
	border-left-color: #e2e9ef;
	border-right-color: #f5f9fb;
}

.col_sub a:hover,.grid_m a:hover,.info_list li .h {
	color: #f60;
}

#announce .bd {
	margin-top: -1px;
	height: 51px;
	border: 1px solid #CFDAE4;
}

#announce .tab_panel {
	padding: 5px 0 0 10px;
}

.info_list_half li {
	float: left;
	overflow: hidden;
	width: 47.2%;
	height: 21px;
}

#recom .bd {
	margin-top: -1px;
	border: 1px solid #CFDAE4;
}

#recom .tab_panel {
	padding: 10px 0 0;
	height: 200px;
}

.tab_holder.third li {
	width: 35%;
}

.tab_holder.third .tab_holder_cw {
	width: 30%;
}

.item_list .item {
	float: left;
	width: 33.2%;
	height: 100px;
	text-align: center;
}

.item_list .pic img {
	width: 70px;
	height: 70px;
	border: 1px solid #D0DAE4;
}

.item_list .desc {
	overflow: hidden;
	height: 18px;
	line-height: 18px;
}

#info {
	margin: 10px auto;
}

#info .bd {
	margin-top: -1px;
	height: 349px;
	border: 1px solid #CFDAE4;
}

.tab_panel_news {
	padding: 7px 10px 0;
}

.info_chn_list {
	overflow: hidden;
	padding: 5px 0;
	height: 15px;
	background: #F4F8FB;
	line-height: 15px;
}

.info_chn_list li {
	float: left;
	margin-left: -1px;
	padding: 0 6px 0 10px;
	border-left: 1px solid #ccc;
}

.info_chn_list li a {
	color: #17387D;
}

.tab_panel_news h4 {
	margin: 7px 0;
	font-weight: 400;
	font-size: 14px;
}

.tab_panel_news h4 strong {
	color: #f60;
	font-weight: 700;
}

#info .tab_panel_bd {
	padding-left: 87px;
}

.pic_news {
	position: absolute;
	margin-left: -87px;
	width: 82px;
}

.pic_news .desc {
	display: block;
	background: #F4F8FB;
	text-align: center;
	line-height: 25px;
}

.pic_news img {
	display: block;
	width: 80px;
	height: 80px;
	border: 1px solid #ccc;
}

#info .word_list {
	overflow: hidden;
	margin-top: 8px;
	height: 36px;
	line-height: 18px;
}

.tab_panel_news .word_list {
	margin-bottom: 12px;
}

#info .word_list li {
	float: left;
	width: 33%;
	color: #cbcbcb;
	text-align: center;
}

#info .word_list li a {
	display: inline-block;
}

#info .word_list_s li {
	width: 20%;
}

#info .info_list_half {
	margin-top: -4px;
}

#expressway .bd {
	margin-top: -1px;
	height: 121px;
	border: 1px solid #CFDAE4;
}

.exp_list {
	padding: 10px 0 0 20px;
	font-family: "宋体";
}

.exp_list li {
	padding: 0 0 5px;
}

.exp_list .with_btn {
	padding-left: 48px;
}

.exp_list .with_btn a {
	display: block;
	overflow: hidden;
	width: 89px;
	height: 20px;
	background: url(../image/taobao/a_btn.png);
	text-indent: -2000px;
}

.exp_more {
	margin-top: -40px;
	width: 80%;
	text-align: right;
}

.exp_more a {
	color: #36C;
	text-decoration: underline;
}

.fpad_sub {
	margin-top: 10px;
	padding: 5px;
	background: #EBF5FA;
}

.grid_m {
	clear: both;
	margin-left: 1px;
	padding-top: 10px;
}

#p4p .hd h3 {
	padding-left: 10px;
	height: 28px;
	border-top: 1px solid #CFDAE4;
	background-position: 0 -31px;
	background-repeat: repeat-x;
	font-size: 14px;
	line-height: 28px;
}

#p4p .bd {
	padding: 10px 0;
	border: 1px solid #CFDAE4;
}

#p4p .item_list {
	padding-left: 5px;
	height: 160px;
}

#p4p .item_list li {
	float: left;
	width: 12.4%;
}

#p4p .bd .pic {
	text-align: center;
	font-size: 0;
}

#p4p .bd .pic img {
	width: 100px;
	height: 100px;
	border: 1px solid #ccc;
}

#p4p .bd .desc {
	overflow: hidden;
	margin: 0 auto;
	width: 100px;
	height: 32px;
	line-height: 16px;
}

#p4p .bd .price {
	margin: 0 auto;
	width: 100px;
}

#p4p .bd .price strong {
	padding-left: 16px;
	background-position: -155px -219px;
	color: #F50;
	font-size: 14px;
}

.fpad_banner {
	margin: 10px 0;
	padding: 5px 11px;
	height: 90px;
	background: #EBF5FA;
}

.box_skin_orange .rc_tp {
	background-position: -162px -195px;
}

.box_skin_orange .rc_tp b {
	background-position: -159px -195px;
}

.box_skin_orange .rc_bt {
	background-position: -162px -198px;
}

.box_skin_orange .rc_bt b {
	background-position: -159px -198px;
}

.box_skin_orange .bd {
	padding: 5px;
	height: 133px;
	border: 1px solid #FBD686;
	background-color: #FFF8E8;
}

.links_panel {
	float: left;
	padding-top: 8px;
	height: 122px;
	border: 1px solid #FFF3D9;
	background-color: #fff;
}

.links_panel_payment,.links_panel_safe,.links_panel_service {
	width: 20%;
}

.links_panel_guard {
	margin: 0 .5%;
	width: 37.5%;
}

.links_panel_service {
	margin-left: .5%;
}

.links_panel h4 {
	margin-bottom: 6px;
	color: #17387D;
	text-align: center;
	font-size: 16px;
	line-height: 22px;
}

.links_panel ul {
	padding-left: 44px;
}

.links_panel li a {
	display: block;
	padding-left: 15px;
	background-position: -162px -281px;
	line-height: 22px;
	zoom: 1;
}

.links_panel_guard ul {
	overflow: hidden;
	padding-left: 67px;
	zoom: 1;
}

.links_panel_guard li {
	float: left;
	width: 49.5%;
}

.zxx_footer {
	padding: 35px 0;
	color: #333;
	text-align: center;
	line-height: 20px;
}

.zxx_footer a {
	color: #34538b;
	text-decoration: underline;
}
